.city(ng-show='cityName', ng-click="openForecast({city: cityName})")
  span.city__name {{cityName}}
  span.city__weather-description {{weatherDescription}}
  span.city__avg-temperature {{temperature}}
  span.city__wind-strength {{windSpeed}}
