.forecast
  a.forecast__btn-back(ui-sref='main') Back to main
  h1.forecast__title Weather forecast for the next hours in {{forecast.cityName}}

  .forecast-data(ng-repeat="day in forecast.days | orderBy: date")
    span.forecast-data__info.forecast-data__info--temperature {{day.temperature}} °C
    span.forecast-data__info.forecast-data__info--wind {{day.wind}} m/s
    span.forecast-data__info.forecast-data__info--date {{day.date | formatDate}}
    span.forecast-data__info.forecast-data__info--time {{day.date | formatTime}}
    span.forecast-data__info.forecast-data__info--description {{day.description}}

  .forecast-graph
    canvas(
      height="100"
      class="chart chart-line",
      chart-data='forecast.chartConfig.data',
      chart-labels='forecast.chartConfig.labels',
      chart-series='forecast.chartConfig.series',
      chart-options='forecast.chartConfig.options',
      chart-dataset-override='forecast.chartConfig.datasetOverride'
    )
