.forecast
  max-width 100em
  position relative

  &__btn-back
    glossy-button($red)
    absolute()
    right 1em
    top -3.7em

  &__title
    font-size 1.6em
    text-transform capitalize

  .forecast-data
    span(1/5)
    margin 2em 0 4em
    padding 1em

    &__info
      font-size 1.6em
      display block
      border-bottom 1px solid alpha($gray, 85%)
      padding .4em 0

      &:before
        font-size .8em
        margin-right .5em
        color darken($gray, 20%)
        font-weight 100

      &--temperature
        color $red
        &:before
          content 'Temperature'

      &--wind
        font-size 1.6em
        color $red
        &:before
          content 'Wind'

      &--date
        &:before
          content 'Date'

      &--time
        &:before
          content 'Time'

      &--description
        text-align center
        background-color $dark-gray
        color $white
        font-size 1em
        text-transform uppercase
        padding 1em 0


  .forecast-graph
    margin-top 4em
    padding 2em
