.main-content
  padding 5em
  max-width 100em

  &__title
    color $red
    font-size 3.4em
    margin-bottom .3em

  .cities-title
    font-size 1.6em

  .cities-list
    margin 3em 0

    .city
      column(1/5, $gutter: 1)
      transition()
      cursor pointer
      border 1px solid alpha($gray, 50%);
      border-radius 3px
      padding 1em
      box-shadow 5px 5px 5px 2px alpha($black, 5%)

      &:hover
        border-color $red

      &__name
        display block
        font-size 1.8em
        font-weight 500

      &__weather-description
        font-size 1em
        text-transform uppercase
        color $red
        display block
        margin .3em 0 1em

      &__avg-temperature,
      &__wind-strength
        column(1/1, $gutter: 2)
        text-align center
        font-size 3em
        padding .4em 0 .9em
        letter-spacing -.02em
        background-color alpha($gray, 15%)
        border-radius 3px
        position relative
        overflow hidden
        border 1px solid $dark-gray
        display inline-block
        margin-bottom .3em

        &:last-of-type
          margin-bottom 0

        &:after
          content 'wind speed (m/s)'
          display block
          position absolute
          bottom 0
          font-style normal
          font-size .3em
          background-color $dark-gray
          color $white
          padding .5em 0 .6em
          width 100%
          text-align center
          text-transform uppercase
          letter-spacing 0

      &__avg-temperature
        &:after
          content 'temperature (°C)'
