html
  head
    title Backbase Weather
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700")
    link(rel='stylesheet', href='/css/main.min.css')

  body(ng-app="backbase")
    base(href="/")

    .main-content
      h1.main-content__title Backbase Weather
      ui-view

    script(src="/js/3rd.js")
    script(src="/js/app.js")
